
<div class="main_container">
    <section class="section_container">
        <h1>section one</h1>
    </section>
    <section class="section_container">
        <h1> section two</h1>
    </section>
    <section class="section_container">
        <h1>section three</h1>
    </section>
    <section class="section_container">
        <h1>section four</h1>
    </section>        
</div>