<nav class="play_list">
  <ul>
    <h3 class="playlist_title">Play list</h3>
    {{#each videos}}
      <li class="playlist_item"><a href="https://www.youtube.com/watch?v={{this}}"><img class="playlist_img" src="https://i.ytimg.com/vi/{{this}}/mqdefault.jpg"/></a></li>
    {{/each}}
  </ul>
</nav>