<nav class="play_list">
  <ul>
    <li>Play list</li>
    {{#each videos}}
      <li><a href="https://www.youtube.com/watch?v={{this}}"><img src="https://i.ytimg.com/vi/{{this}}/default.jpg"/></a></li>
    {{/each}}
  </ul>
</nav>