<form action="#" class="header">
    <div class="brand"><img src="https://bit.ly/2EbKdXU" alt="brand mark" class="brand"></div>
    <div class="search_wrapper">
        <input type="text" placeholder="Search" class="search" name="search">
        <button type="submit" class="search_btn" ><i class="fa fa-search"></i></button>        
    </div>
</form>