<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Youtube App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
    <main class="main_wrapper">
        {{{body}}}
    </main>
    
    <script>
        function clickListener(id) {
            console.log(id)
            console.log(event.target.getAttribute('key'))
        }
    </script>
</body>
</html>