<nav class="navbar navbar-expand-sm navbar-dark">
  <div class="container">
  <a class="navbar-brand" href="#">RECIPE FINDER</a>
    <ul id="navbar-nav" class="navbar-nav right hide-on-med-and-down">
      <li class="nav-item logged-out">
        <a href="#" class="nav-link grey-text modal-trigger" data-target="modal-login">Login</a>
      </li>
      <li class="nav-item logged-out">
        <a href="#" class="nav-link grey-text modal-trigger" data-target="modal-signup">Sign up</a>
      </li>
      <li class="nav-item logged-in">
        <a href="#" class="nav-link grey-text" id="logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>