@import url("./normalize.css");
.main_wrapper {
    display: flex;
    flex-direction: column;
}

.search_wrapper {
    justify-content: space-between;
    box-shadow: 0px -4px 8px #ccc;
    align-items: center;
    padding: 0 2em;
    display: flex;
    height: 56px;
}

.search_input {
    border: .5px solid #ccc;
    padding: .4em .8em;
    border-radius: .2em;
    font-size: 1em;
    width: 50em;
    margin: auto;
}

.brand {
    width: 5em;
}

.brand img {
    width: 100%;
}

.plyandsec {
    display: flex;
}

.nav_container {
    background: #f5f5f5;
    height: 100%;
    flex: .5;
}

.sections_wrapper {
    flex: 2;
    padding: 4em;
}

.section_container {
    border-bottom: .5px solid #ccc;
    width: 100%;
}